@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white; /* white text color */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.textStyle {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: white; /* white text color */
}

.formTextStyle {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: darkslategray;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  -webkit-text-stroke: 1px black;
  color:white;
}

body {
  background-image: url('https://i.imgur.com/MQgRZbZ.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.signinBG {
  background-image: url('https://i.imgur.com/NsabKhL.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}

.linkStyle {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.transParent {
  background-color: transparent !important; 
  color: white; 
  margin: 0px !important;
}

.card-title {
  text-shadow: 2px 2px 2px black; /* add a subtle text shadow */
}

.FloatingLabel .Form.Control {
  background-color: transparent;
  /* any other styling you want */
}

.hoverText:hover {
  color: #ff9100;
}

.linkeventBackground {
  position: relative !important;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5) !important;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.linkeventBackground::before {
  content: '' !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-size: contain !important;
  background-position: center !important;
  opacity: 0.5 !important; /* Adjust the opacity value as per your preference */
  z-index: -1 !important; /* Position the pseudo-element behind the content */
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.3) !important;
}

.linkeventBackground > div {
  position: relative !important; /* Make the child elements position relative so that they stack on top of the pseudo-element */
  z-index: 1 !important; /* Position the child elements above the pseudo-element */
}

.userBackground {
  position: relative !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.userBackground::before {
  content: '';
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/6PQduGe.png") !important;
  background-size: cover;
  background-position: center;
  opacity: 0.5 !important; /* Adjust the opacity value as per your preference */
  z-index: -1 !important; /* Position the pseudo-element behind the content */
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.3) !important;
}

.userBackground > div {
  position: relative; /* Make the child elements position relative so that they stack on top of the pseudo-element */
  z-index: 1; /* Position the child elements above the pseudo-element */
}

.userHeader {
  position: relative;
  padding: 15px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.4);
}

.userHeader::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.rollingstone.com/wp-content/uploads/2019/09/shutterstock_1242494212.jpg?w=1581&h=1054&crop=1");
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity value as per your preference */
  z-index: -1; /* Position the pseudo-element behind the content */
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.3);
}

.userHeader > div {
  position: relative; /* Make the child elements position relative so that they stack on top of the pseudo-element */
  z-index: 1; /* Position the child elements above the pseudo-element */
}

.followBackground {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 10px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.followBackground::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust the opacity value as per your preference */
  z-index: -1; /* Position the pseudo-element behind the content */
}

.followBackground > div {
  position: relative; /* Make the child elements position relative so that they stack on top of the pseudo-element */
  z-index: 1; /* Position the child elements above the pseudo-element */
}

.whiteButton {
  background-color: rgba(34, 34, 34, 0.6) !important; 
  color: #ffffff !important;
  border: 2px solid #ffffff !important;
  margin-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  font-size: 18px !important;
  padding: 10px 20px !important;
}

.whiteButton:hover {
  background-color: rgba(34, 34, 34, 0.6) !important; 
  color: #ff9100 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
  border-color: #ff9100 !important;
}

.redButton {
  background-color: rgba(34, 34, 34, 0.6) !important; 
  color: #ffffff !important;
  border: 2px solid #d01d1d !important;
  margin-left: 10px !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
  font-size: 18px !important;
  padding: 10px 20px !important;
}

.redButton:hover {
  background-color: rgba(34, 34, 34, 0.6) !important; 
  color: #d01d1d !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4) !important;
  border-color: #d01d1d !important;
}

.event-modal .modal-header {
  background-color: #de7402;
  color: white;
  background: linear-gradient(to right, rgb(255, 115, 0), white);
}

.modal-header button.close {
  color: white;
}

.event-modal .modal-body {
  font-size: 24px;
  background-image: url("https://cdn.vox-cdn.com/thumbor/G58mfK9d2Zo7vupbAy4HIx3VcWY=/433x136:1800x820/fit-in/1200x600/cdn.vox-cdn.com/uploads/chorus_asset/file/23635627/shutterstock_1652120377.jpg");
}

#mchh-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
